<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app" v-bind:title="message">
        <!-- {{ message }} chamada para variável teste -->
        Testando

        {{counter}}
        <!-- chamando uma função, um método com onclick -->
        <button @click="increase">Somar</button>
        <button @click="decrease">Subtrair</button>

        <ul>
            <li v-for="(linguagem,index) in linguagens" :key="linguagem.nome">
                {{index}} - {{linguagem.nome}}
            </li>
        </ul>

        <span v-if="show">Gabriela</span><br>
        <button @click="onShowClick">
            {{ show ? 'Esconder' : 'Mostrar' }}
        </button><br>

        <span v-if="isUnderAge">Você precisa ser maior de 18 anos</span>
        <span v-else-if="isOld">Você é muito velho para beber</span>

        <template v-else>
            <span>Veja os itens</span>
            <ul>
                <li>Black Label</li>
                <li>Budwaiser</li>
                <li>Chivas</li>
            </ul>
        </template>


        <p>Pessoas maiores de 18</p>
        <ul>
            <li v-for="user in adultUsers">{{user.name}}</li>
        </ul>

        <input type="text" v-model="name">
    </div>

      

    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>